*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      rgba(132, 128, 128, 0.4),
      rgba(88, 85, 85, 0.5)
    ),
    url(./imgs/friends.jpeg);
  max-width: 480px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-content {
  margin-top: 100px;
}

.card-section {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 20px 5px;
  margin: 10px 20px 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  position: relative;
}

.bookmark {
  width: 40px;
  height: 35px;
  position: absolute;
  top: -12px;
  right: 10px;
}
#tag p {
  font-size: small;
  border: 1px solid black;
  border-radius: 2px;
  background-color: rgb(150, 182, 239);
  margin-bottom: 5px;
  margin-top: 10px;
  height: auto;
  padding: 1px;
  display: inline;
  float: left;
  position: relative;
  left: 0%;
  margin-left: 0;
  margin-right: 5px;
}

.main-footer {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  width: 96%;
  bottom: 0%;
  position: fixed;
  z-index: 1;
}

.footer-nav {
  align-content: center;
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-nav img {
  align-items: center;
  width: 45px;
}
