*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      rgba(132, 128, 128, 0.4),
      rgba(88, 85, 85, 0.5)
    ),
    url(./imgs/friends.jpeg);
  margin: auto;
  max-width: 400px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
}

header h1 {
  text-shadow: 1px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.main-content {
  margin: 0 auto;
}

.card-section {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  position: relative;
}

.main-footer {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.footer-nav {
  align-content: center;
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-nav img {
  align-items: center;
  width: 45px;
}
